body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

a:link {
	color: #666;
}

a:visited {
	color: #666;
}

a:hover {
	color: #299ACC;
}

a:active {
	color: #299ACC;
}

#header {
	background-color: #000;
	width: 100%;
	height: 320px;
	background-image: url("face.jpg");
	background-size: auto 320px;
	background-repeat: no-repeat;
	background-position: center;
}

#header-eng {
	background-color: #fff;
	width: 100%;
	height: 320px;
	background-image: url("face-eng.jpg");
	background-size: auto 320px;
	background-repeat: no-repeat;
	background-position: center;
}

#header-photo {
	background-color: #14130f;
	width: 100%;
	height: 320px;
	background-image: url("face-photo.jpg");
	background-size: auto 320px;
	background-repeat: no-repeat;
	background-position: center;
}


#subheader {
	background-color: #fff;
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
	padding-right: 10%;
	padding-left: 10%;
	font-size: 18px;
}

#logo {
	width: 316px;
	height: 65px;
	align-self: center;
	background-image: url("logo.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

#menu {
	min-width: 300px;
	align-self: center;
	margin: 10px;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#menu li {
	text-align: center;
    flex-grow: 1;
}

a.menu_link {
	text-decoration: none;
	padding: 3px 8px 3px 8px;
	display: block;
}

a.menu_link_current {
	color: #299ACC;
	text-decoration: none;
	padding: 3px 8px 3px 8px;
	display: block;
}

#content {
	margin-top: 50px;
	margin-bottom: 50px;
	margin-right: auto;
	margin-left: auto;
	max-width: 700px;
	width: 80%;
	color: #333;
	font-size: 18px;
}

.shadow {
	-webkit-box-shadow: 0px 3px 40px 0px rgba(140,140,140,0.7);
	-moz-box-shadow: 0px 3px 40px 0px rgba(140,140,140,0.7);
	box-shadow: 0px 3px 40px 0px rgba(140,140,140,0.7);
}

#footer {
	display: flex;
	justify-content: center;
}

.social-button {
	margin: 5px;
	-webkit-filter: grayscale(1);
}

.social-button:hover {
	-webkit-filter: grayscale(0);
}