<footer class="site-footer">

  <div id="footer">
    <a href="https://github.com/liutikas"><img class="social-button" src="{{ site.url }}/assets/github.png" /></a>
    <a href="https://r.android.com/q/owner:aurimas@google.com"><img class="social-button" src="{{ site.url }}/assets/gerrit.png" /></a>
    <a href="https://instagram.com/_aurimas"><img class="social-button" src="{{ site.url }}/assets/instagram.png" /></a>
    <a href="https://www.linkedin.com/in/liutikas"><img class="social-button" src="{{ site.url }}/assets/linkedin.png" /></a>
    <a rel="me" href="https://androiddev.social/@Aurimas"><img class="social-button" src="{{ site.url }}/assets/mastodon.png" /></a>
  </div>

</footer>
