body {
	margin: 0;
	font-family: sans-serif;
}

pre {
  overflow-x: auto;
}

a:link {
	color: #666;
}

a:visited {
	color: #666;
}

a:hover {
	color: #299ACC;
}

a:active {
	color: #299ACC;
}

#header {
	background-color: #0e0e0c;
	width: 100%;
	height: 320px;
	background-image: url("{{ "/assets/face.jpg" | relative_url }}");
	background-size: auto 320px;
	background-repeat: no-repeat;
	background-position: center;
}

#header-eng {
	background-color: #bfc8cd;
	width: 100%;
	height: 320px;
	background-image: url("{{ "/assets/face-eng.jpg" | relative_url }}");
	background-size: auto 320px;
	background-repeat: no-repeat;
	background-position: center;
}

#header-photo {
	background-color: #14130f;
	width: 100%;
	height: 320px;
	background-image: url("{{ "/assets/face-photo.jpg" | relative_url }}");
	background-size: auto 320px;
	background-repeat: no-repeat;
	background-position: center;
}


#subheader {
	background-color: #fff;
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
	padding-right: 10%;
	padding-left: 10%;
	font-size: 18px;
}

#logo {
	width: 316px;
	height: 65px;
	align-self: center;
	background-image: url("{{ "/assets/logo.png" | relative_url }}");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

#menu {
	min-width: 300px;
	align-self: center;
	margin: 10px;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#menu li {
	text-align: center;
    flex-grow: 1;
}

a.menu_link {
	text-decoration: none;
	padding: 3px 8px 3px 8px;
	display: block;
}

a.menu_link_current {
	color: #299ACC;
	text-decoration: none;
	padding: 3px 8px 3px 8px;
	display: block;
}

#content {
	margin-top: 50px;
	margin-bottom: 50px;
	margin-right: auto;
	margin-left: auto;
	max-width: 700px;
	width: 80%;
	color: #333;
	font-size: 18px;
	text-align: justify;
    text-justify: inter-word;
}

#content-center {
	text-align: center;
}

.shadow {
	-webkit-box-shadow: 0px 3px 40px 0px rgba(140,140,140,0.7);
	-moz-box-shadow: 0px 3px 40px 0px rgba(140,140,140,0.7);
	box-shadow: 0px 3px 40px 0px rgba(140,140,140,0.7);
}

#footer {
	display: flex;
	justify-content: center;
}

.social-button {
	margin: 5px;
	-webkit-filter: grayscale(1);
}

.social-button:hover {
	-webkit-filter: grayscale(0);
}

.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight .cm {
  color: #999988;
  font-style: italic;
}
.highlight .cp {
  color: #999999;
  font-weight: bold;
}
.highlight .c1 {
  color: #999988;
  font-style: italic;
}
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}
.highlight .c, .highlight .ch, .highlight .cd, .highlight .cpf {
  color: #999988;
  font-style: italic;
}
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
.highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}
.highlight .ge {
  color: #000000;
  font-style: italic;
}
.highlight .gr {
  color: #aa0000;
}
.highlight .gh {
  color: #999999;
}
.highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}
.highlight .go {
  color: #888888;
}
.highlight .gp {
  color: #555555;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gu {
  color: #aaaaaa;
}
.highlight .gt {
  color: #aa0000;
}
.highlight .kc {
  color: #000000;
  font-weight: bold;
}
.highlight .kd {
  color: #000000;
  font-weight: bold;
}
.highlight .kn {
  color: #000000;
  font-weight: bold;
}
.highlight .kp {
  color: #000000;
  font-weight: bold;
}
.highlight .kr {
  color: #000000;
  font-weight: bold;
}
.highlight .kt {
  color: #445588;
  font-weight: bold;
}
.highlight .k, .highlight .kv {
  color: #000000;
  font-weight: bold;
}
.highlight .mf {
  color: #009999;
}
.highlight .mh {
  color: #009999;
}
.highlight .il {
  color: #009999;
}
.highlight .mi {
  color: #009999;
}
.highlight .mo {
  color: #009999;
}
.highlight .m, .highlight .mb, .highlight .mx {
  color: #009999;
}
.highlight .sa {
  color: #000000;
  font-weight: bold;
}
.highlight .sb {
  color: #d14;
}
.highlight .sc {
  color: #d14;
}
.highlight .sd {
  color: #d14;
}
.highlight .s2 {
  color: #d14;
}
.highlight .se {
  color: #d14;
}
.highlight .sh {
  color: #d14;
}
.highlight .si {
  color: #d14;
}
.highlight .sx {
  color: #d14;
}
.highlight .sr {
  color: #009926;
}
.highlight .s1 {
  color: #d14;
}
.highlight .ss {
  color: #990073;
}
.highlight .s, .highlight .dl {
  color: #d14;
}
.highlight .na {
  color: #008080;
}
.highlight .bp {
  color: #999999;
}
.highlight .nb {
  color: #0086B3;
}
.highlight .nc {
  color: #445588;
  font-weight: bold;
}
.highlight .no {
  color: #008080;
}
.highlight .nd {
  color: #3c5d5d;
  font-weight: bold;
}
.highlight .ni {
  color: #800080;
}
.highlight .ne {
  color: #990000;
  font-weight: bold;
}
.highlight .nf, .highlight .fm {
  color: #990000;
  font-weight: bold;
}
.highlight .nl {
  color: #990000;
  font-weight: bold;
}
.highlight .nn {
  color: #555555;
}
.highlight .nt {
  color: #000080;
}
.highlight .vc {
  color: #008080;
}
.highlight .vg {
  color: #008080;
}
.highlight .vi {
  color: #008080;
}
.highlight .nv, .highlight .vm {
  color: #008080;
}
.highlight .ow {
  color: #000000;
  font-weight: bold;
}
.highlight .o {
  color: #000000;
  font-weight: bold;
}
.highlight .w {
  color: #bbbbbb;
}
.highlight {
  background-color: #f8f8f8;
}
